<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title)%> | My app</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true%>
    <link href="css/bootstrap.min.css" rel="stylesheet" id="ref-css">
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body>
    <%= render 'layouts/header' %>
      
    <%= yield %>

    <%= render 'layouts/footer' %>
  </body>
</html>
